{% extends 'layout.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>{{ title }}</h1>
                <small>Welcome to {{ title }}</small>
            </div>
        </div>
    </div>
{% endblock %}
